@import "./../../variables.scss";

.icon {
  padding: 0 30px;

  .ms-Button--icon:hover {
    background-color: transparent;
  }
  i {
    color: $mainFontColor;
    font-size: 60px;
    @media (max-width: 580px) {
      font-size: 50px;
    }
    @media (max-width: 480px) {
      font-size: 40px;
    }
  }
  &--clicked {
    i {
      color: $turquoise;
    }
  }
}
