@import "./../../variables.scss";

.nav-bar {
  background-color: $mainYellow;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--icons {
    width: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-name {
    margin-left: 30px;
    color: $mainFontColor;
    // font-family: "Muli";

    &--moved {
      position: relative;
      left: 250px;
    }
  }
}

.sidebar-button {
  color: $mainFontColor;
  &:hover {
    background-color: transparent;
    color: $mainFontColor;
  }
  i {
    font-size: 30px;
    padding-left: 10px;
  }
  &--active {
    position: relative;
    left: 250px;
    transition: all 0.3s ease-out;
  }
  &--collapsed {
    transition: all 0.3s ease-out;
  }
}

.lang {
  display: flex;
  white-space: nowrap;
  .ms-Dropdown {
    font-size: 20px;
    span {
      background-color: $mainYellow;
      border: none;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
