@import "./../../variables.scss";

.label--h1 {
  font-size: 25px;
  color: $mainFontColor;
  padding-left: 30px;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.daily-habits {
  @include waveBackground;
  display: flex;
  flex-direction: column;
  .label--h1 {
    padding-left: 35px;
  }
}

.add-habit__button {
  @include turquiseButton;
  margin: 0 auto;
  width: 500px;
  @media (max-width: 570px) {
    width: 300px;
  }
  @media (max-width: 480px) {
    width: 200px;
  }
}
