@import "./../../variables.scss";

.new-habit {
  padding-left: 10px;
  z-index: 2;
  // background-color: $backgroundGray;
}

.ms-Label {
  font-size: 40px;
  color: $mainFontColor;
}

.ms-Button-flexContainer {
  font-size: 25px;
}

.new-habit {
  .ms-Button {
    @include turquiseButton;
    margin-top: 15px;
    position: relative;
    left: 35%;
  }
  .ms-Dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
  }
  .ms-Dropdown {
    width: 60%;
    .ms-Dropdown-title {
      height: 52px;
      border-radius: 15px;
    }
    .ms-Dropdown-caretDownWrapper {
      height: 48px;
      margin-right: 9px;
    }
  }
}

.ms-Dropdown-callout {
  .ms-Dropdown-item {
    background-color: $mainYellow;
    // border-bottom: 1px white solid;
    &:hover {
      background-color: $backgroundGray;
    }
  }
}
.ms-Panel-headerText {
  font-size: 40px;
}

.dropdowns {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .ms-Dropdown {
    font-size: 20px;
    span {
      background-color: $mainYellow;
      border: none;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.ms-Dropdown-optionText {
  height: 30px;
}

.rocket-img {
  left: 325px;
  position: absolute;
  bottom: 0px;
}
