@import "./../../variables.scss";

.new-habit {
  padding-left: 10px;
  z-index: 2;
}

.ms-Button-flexContainer {
  font-size: 20px;
  @media (max-width: 480px) {
    font-size: 15px;
  }
}

.new-habit {
  .ms-Button {
    @include turquiseButton;
    margin-top: 15px;
    position: relative;
    left: 35%;
    @media (max-width: 580px) {
      span {
        font-size: 15px;
      }
    }
  }
  .ms-Dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
  }
  .ms-Dropdown {
    width: 60%;
    .ms-Dropdown-title {
      border-radius: 15px;
    }
    .ms-Dropdown-caretDownWrapper {
      background-color: transparent;
      margin-right: 9px;
    }
  }
}

.ms-Dropdown-callout {
  .ms-Dropdown-item {
    background-color: $mainYellow;
    &:hover {
      background-color: $backgroundGray;
    }
  }
}
.ms-Panel {
  &-main {
    background-color: $backgroundGray;
    background-image: url("./../../images/rocket.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-headerText {
    font-size: 30px;
  }
  &-commands {
    background-color: $backgroundGray;
  }
}

.dropdowns {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .ms-Dropdown {
    font-size: 20px;
    @media (max-width: 580px) {
      font-size: 15px;
    }
    span {
      background-color: $mainYellow;
      border: none;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.ms-Dropdown-optionText {
  height: 30px;
}
